:root {

    color-scheme: light dark;

    --light-background: #FFFFFF;
    --light-secondary-background: #e3e3e3;
    --light-primary: #222222;
    --light-secondary: #455A64;
    
    --dark-background: #222222;
    --dark-secondary-background: #2a2d2e;
    --dark-primary: #FFFFFF;
    --dark-secondary: #e4e7e9;

    --font-family: Tahoma, Verdana, sans-serif;
}

html {
    overflow-x: hidden;
}

* {

    font-family: var(--font-family);
    color: var(--dark-primary)
}

body {
    margin: 0;
    padding: 0; 
}

.background {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(43deg, #4158D0 0%, #3a916a 46%, #FFCC70 100%); 
    /* linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);  */
    min-width: 100%;
    min-height: 100%;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: light-dark(var(--light-background), var(--dark-background));
    padding: 0px 0px;
    height: 7vh;

    .topnav ul {
        list-style: none;
        display: flex;
        gap: 20px;
        margin-right: 20px;
    }

    .topnav a {
        text-decoration: none;
        color: light-dark(var(--light-primary), var(--dark-primary));
        font-weight: 500;
    }

    .theme-toggle {
        --size: 2rem;
        
        background: none;
        border: none;
        padding: 0;
      
        inline-size: var(--size);
        block-size: var(--size);
        aspect-ratio: 1;
        border-radius: 50%;
    }

    .hamburger {
        display: none;
    
        @media screen and (max-width: 768px) {
            display: block;
            margin-right: 20px;
            
        }
    
        span {
            font-size: 2.5rem;
        }
    }

    @media screen and (max-width: 768px) {

        .topnav ul {
            display: none;
            flex-direction: column;
            gap: 10px;
            position: absolute;
            top: 7vh;
            left: 0;
            background-color: light-dark(var(--light-background), var(--dark-background));
            width: 100%;
        }
        .active ul{
            display: block;
            padding: 0;
        }

        .topnav a {
            text-decoration: none;
            color: light-dark(var(--light-primary), var(--dark-primary));
            font-weight: 500;
            display: block;
            text-align: center;
            padding: 10px;
        }

        .theme-toggle {
            display: none;
        }
    }
}

.name {
    text-decoration: none;
    color: light-dark(var(--light-primary), var(--dark-primary));
    margin-left: 20px;
    font-size: 1.25rem;
    font-weight: bold;
}



main {
    margin-top: 10vh;
    height: 100vh;
    background: transparent;
}

.profile {
    padding: 20px;
    padding-bottom: 0px;

    display: grid;
    place-items: center;
}

.profile h1 {
    font-size: 4rem;
    margin: 10px 0px;
}

.goal {
    font-size: 1.5rem;
    margin: 10px;
}

.skills h2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 20px;
}

.skills-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.devicon {
    font-size: 2rem;
    gap: 20px;
    color: light-dark(var(--light-primary), var(--dark-primary));
    background-color: light-dark(var(--light-background), var(--dark-background));
    padding: 10px;
    border-radius: 10px;
    i {
        color: light-dark(var(--light-primary), var(--dark-primary));
    }
}

.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.box {
    margin: 20px;
    padding: 10px;
    background-color: light-dark(var(--light-background), var(--dark-background));
    width: fit-content;
    border-radius: 10px;
    width: 85%;
    height: fit-content;
}

.box h2 {
    font-size: 2rem;
    margin: 0%;
    color: light-dark(var(--light-primary), var(--dark-primary));
}

.box div {
    font-size: 2rem;
    background-color: light-dark(var(--light-secondary-background), var(--dark-secondary-background));
    margin: 10px 0px;
    border-radius: 10px;
    padding: 10px;
}

.box h3{
    font-size: 1.75rem;
    margin:0;
    color: light-dark(var(--light-primary), var(--dark-primary));
}

.box p {
    font-size: 1.5rem;
    color: light-dark(var(--light-secondary), var(--dark-secondary));
    margin: 0;
}

@media screen and (max-width: 768px) {

    .profile h1 {
        font-size: 2.25rem;
    }

    .profile h2 {
        margin-top: 0;
        font-size: .9rem;
    }

    header {
        height: 10vh;
    }

    .skills-list {
        flex-direction: column;
    }

    .boxes {
        grid-template-columns: 1fr;
    }

    .box {
        max-width: 100%;
    }
    
}